article{
    margin: 20px 250px 0px ;
    padding-top: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;}}